.custom-text-input-container {
  position: relative;
}

.custom-text-input-container .label-text {
  margin-bottom: 0.2rem;
}

.custom-text-input-container .error-text {
  color: var(--danger);
  margin-top: 0.2rem;
  text-align: left;
}

.custom-text-input-container .input {
  border: 1px solid rgba(207, 222, 253, 0.3);
  background-color: rgba(207, 222, 253, 0.3);
  padding: 1rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}

.custom-text-input-container .input::placeholder {
  font-weight: 500;
  color: var(--primary-text-color);
}

.custom-text-input-container .input:disabled {
  background-color: var(--disabled-color);
}

.custom-text-input-container .input:disabled + div {
  color: var(--disabled-color);
}

.custom-text-input-container .input:hover {
  border-color: var(--gray);
  outline: none;
}

.custom-text-input-container .input:focus {
  border-color: var(--gray);
  outline: none;
}
