.custom-button-container .custom-button {
    width: 100%;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.custom-button-container .custom-button-primary {
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
}

.custom-button-container .custom-button-secondary {
    background-color: var(--secondary-color);
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}