.custom-button-container .custom-button {
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.custom-button-container .custom-button-primary {
    background-color: var(--primary);
    color: white;
    font-weight: 600;
}

.custom-button-container .custom-button-primary:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--disabled-color);
}